# Data geolocation

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/olist_geolocation_dataset.csv')

## Types

In [6]:
print(df.dtypes)

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

## zip_code

In [7]:
df[df['geolocation_zip_code_prefix'] == 1307]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
7704,1307,-23.549361,-46.654124,sao paulo,SP
7724,1307,-23.555337,-46.655947,sao paulo,SP
7732,1307,-23.551046,-46.653077,sao paulo,SP
7733,1307,-23.551910,-46.649195,são paulo,SP
7748,1307,-23.558604,-46.658515,sao paulo,SP
...,...,...,...,...,...
11341,1307,-23.551525,-46.652848,são paulo,SP
11357,1307,-23.552199,-46.652550,sao paulo,SP
11362,1307,-23.557245,-46.657477,são paulo,SP
11364,1307,-23.552017,-46.649542,sao paulo,SP
11384,1307,-23.553325,-46.652456,sao paulo,SP

In [ ]:
df[df['geolocation_zip_code_prefix'] == 1307]

## City

In [27]:
select_col = ['geolocation_city', 'geolocation_state']

In [28]:
city = df[select_col].drop_duplicates()

In [29]:
city[city["geolocation_city"] == "são paulo"]

      geolocation_city geolocation_state
5            são paulo                SP
22261        são paulo                RN

In [30]:
# Le nom d'une ville peut se retrouver dans des states différents

## group zip code en fonction des villes et états différents

In [ ]:

# Create a new column with the combination of geolocation_city and geolocation_state
df['city_and_state'] = df['geolocation_city'] + '_' + df['geolocation_state']

# Create a dictionary with the prefixes that have different city_and_state combinations
prefixes_dict = {}
for prefix, group in df.groupby('geolocation_zip_code_prefix'):
    if len(group['city_and_state'].unique()) > 1:S
        prefixes_dict[prefix] = group['city_and_state'].unique()

# Create a new dataframe with the prefixes and their corresponding city_and_state combinations
prefixes_df = pd.DataFrame(list(prefixes_dict.items()), columns=['geolocation_zip_code_prefix', 'city_and_state_combinations'])

# Print the resulting dataframe
print(prefixes_df)